* {
    background-color: blueviolet;
    outline: 1px black dotted;
}

/*.imgBx {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}*/

.coc-logo {
    display: flex;
    justify-self: flex-start;
    width: 250px;
    padding: 20px;
    animation: rotate;

    & :hover {
        ;
    }
}

/*.coc-troop {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    padding: 20 0 0 250px;
    animation: rotate;

    & :hover {
        box-shadow: 5rem;
        
    }
}*/


.center{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 0;
    /*grid-template-rows: 250px 250px;*/
}

.coc-troop {
    display: grid;
    grid-column: 2;
}

h1 {
    display: flex;
    justify-content: ;
    align-self: center;
}

.subtitle {
    display: flex;
    align-self: ;
}

.paragraph {
    display: grid;
    grid-column: 2;
}

.headers {
    display: grid;
    grid-column: 2;
}

.footers {
    display: grid;
    grid-column: 3;
}*/


/*.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 0 0 0 100px;
    width: 100%;
    align-self: center;
}*/


